:root {
  --cell-bg-color: #FFCA18;
  --row-outline-color: #0ED145;
  --container-outline-color: #00A8F3;
}

.row,
.cell,
.container {
  margin: 5px;
  padding: 5px;
}

.row {
  outline: 3px solid var(--row-outline-color);
}

.cell {
  background-color: var(--cell-bg-color);
  min-height: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  outline: 3px solid var(--container-outline-color);
}